body {
    background-color: rgb(237, 238, 240);
}

.navbar-brand {
    font-weight: bold;
    font-size: 22px;
    font-family: "Lucida Console", sans-serif;
    line-height: 18px;
}

.container, .container-sm {
    height: 80vh;
}

.form {
    background-color: white;
}

.spendings {
    height: 286px !important;
    overflow-y: scroll;
}

.card {
    height: 45px;
}

.card-title {
    font-size: 18px;
    line-height: 20px;
}

.time {
    height: 12px;
    font-size: 10px;
    line-height: 10px;
}

.col > .row {
    font-size: 15px;
}
