{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block styles %}
        <link rel="stylesheet" href="{% static 'web/bootstrap.min.css' %}">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ms-3" href="#">
                <img src="{% static 'logo.jpg' %}" height="26" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto me-3">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="#">Home</a>
                        <a class="nav-link" href="#">Features</a>
                        <a class="nav-link" href="#">Pricing</a>
                    {% else %}
                        <a class="nav-link" href="#">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}
    <script src="{% static 'web/bootstrap.bundle.min.js' %}"></script>
</body>
</html>