{% extends "web/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container d-flex align-items-center">
        <div class="form w-50 mx-auto p-3 rounded-3">
            <form action="" method="post" id="s_form">
                {% csrf_token %}

                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors.0 }}
                {% endfor %}
                <div class="text-center">
                    <button class="btn btn-primary" id="add">Сохранить</button>
                    <a href="{% url "logout" %}" class="btn btn-danger ms-2">Выйти</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}