{% extends "web/base.html" %}

{% block title %}Статистика{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col mt-3 mx-2">
                <form action="">
                    <div class="row">
                        <div class="col-4 px-sm-1">
                            <input type="text" class="form-control mx-0" placeholder="Поиск">
                        </div>
                        <select name="category" class="form-select col me-1">
                            <option value="">Категория</option>
                            {% for category in categories %}
                                <option value="{{ category.0 }}">{{ category.1 }}</option>
                            {% endfor %}
                        </select>
                        <input type="date" class="form-control col me-1" placeholder="Поиск">
                        <button class="btn btn-primary float-end col">Искать</button>
                    </div>
                </form>
            </div>
            <div class="col-6 mb-2 mt-2 p-2">
                <div class="d-flex justify-content-center mx-auto bg-white rounded-3 h-100">
                    <div id="out" class=""></div>
{#                    {% load googlecharts %}#}
{##}
{#                    {% googlecharts %}#}
{##}
{#                        {% data values "out_data" %}#}
{#                            {% col "string" "Name" %}"{{ val }}"{% endcol %}#}
{#                            {% col "number" "Value" %}{{ val }}{% endcol %}#}
{#                        {% enddata %}#}
{##}
{#                        {% options "out_options" %}#}
{#                            kind: "PieChart",#}
{#                            options: {#}
{#                                width: 460,#}
{#                                height: 280,#}
{#                                is3D: true,#}
{#                                backgroundColor: 'white',#}
{#                            }#}
{#                        {% endoptions %}#}
{##}
{#                        {% graph "out" "out_data" "out_options" %}#}
{#                    {% endgooglecharts %}#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}