{% extends "web/base.html" %}

{% block title %}Статистика{% endblock %}

{% block body %}
    <div class="container d-flex align-items-center">
        <div class="centered w-100">
            <div class="row">
                <form action="" class="" method="post">
                    {% csrf_token %}
                    <div class="row col-8 mx-auto bg-white px-3 pb-3 rounded-3">
                        <div class="col-3 p-0 me-3">
                            <label for="search" class="" style="font-size: 10px; line-height: 10px;">Поиск</label>
                            <input type="text" name="search" value="{% if search %}{{ search }}{% endif %}" class="form-control" id="search" placeholder="Поиск">
                        </div>
                        <div class="col-2 p-0 me-3">
                            <label for="category" class="" style="font-size: 10px; line-height: 10px;">Категория</label>
                            <select name="category" id="category" class="form-select col">
                                <option value="">Выбрать</option>
                                {% for ctg in categories %}
                                    <option value="{{ ctg.0 }}" {% if category %}selected{% endif %}>{{ ctg.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-2 p-0 me-3">
                            <label for="start" class="" style="font-size: 10px; line-height: 10px;">От(включительно)</label>
                            <input type="date" id="start" name="start_date" value="{% if start %}{{ start }}{% endif %}" class="form-control">
                        </div>
                        <div class="col-2 p-0 me-3">
                            <label for="end" style="font-size: 10px; line-height: 10px;">До(не включительно)</label>
                            <input type="date" id="end" name="end_date" value="{% if end %}{{ end }}{% endif %}" class="form-control">
                        </div>
                        <button class="btn btn-primary col text-center h-50 mt-4">Искать</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="spendings col mx-auto text-center bg-white rounded-3 mt-3">
                    <div id="list" class="pt-2 pb-1">
                        {% for spending in result %}
                            <div class="card mb-2 mt-1" onclick="document.location.href = '{% url "update_spending" spending.id %}'">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <p class="card-title mt-1 mb-1 fw-normal flex-column">{{ spending.title|capfirst }}</p>
                                        </div>
                                        <div class="row">
                                            <p class="m-0 time">{{ spending.created_at|date:"d.m.Y H:i" }}</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <p class="m-0 mx-auto text-danger">-{{ spending.amount }} ₽</p>
                                        </div>
                                        <div class="row">
                                            <p class="m-0 mx-auto">{{ spending.category }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6 mb-2 mt-2 p-2">
                    <div class="d-flex justify-content-center mx-auto bg-white rounded-3" style="height: 286px">
                        <div id="out" class=""></div>
                        {% load googlecharts %}

                        {% googlecharts %}

                            {% data values "out_data" %}
                                {% col "string" "Name" %}"{{ val }}"{% endcol %}
                                {% col "number" "Value" %}{{ val }}{% endcol %}
                            {% enddata %}

                            {% options "out_options" %}
                                kind: "PieChart",
                                options: {
                                    width: 460,
                                    height: 280,
                                    is3D: true,
                                    backgroundColor: 'white',
                                }
                            {% endoptions %}

                            {% graph "out" "out_data" "out_options" %}
                        {% endgooglecharts %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}