{% extends "web/base.html" %}

{% block title %}Статистика{% endblock %}

{% block body %}
    <div class="row">
        <div class="col mb-2 mt-2 p-2">
            <div class="d-flex justify-content-center mx-auto w-100 bg-white rounded-3 h-100">
                <div id="out" class=""></div>
                {% load googlecharts %}

                {% googlecharts %}

                    {% data values "out_data" %}
                        {% col "string" "Name" %}"{{ val }}"{% endcol %}
                        {% col "number" "Value" %}{{ val }}{% endcol %}
                    {% enddata %}

                    {% options "out_options" %}
                        kind: "PieChart",
                        options: {
                            width: 460,
                            height: 280,
                            is3D: true,
                            backgroundColor: 'white',
                        }
                    {% endoptions %}

                    {% graph "out" "out_data" "out_options" %}
                {% endgooglecharts %}
            </div>
        </div>
    </div>
{% endblock %}